body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
}

.card {
    background: #eaeaea;
    color: black;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

input.search-bar {
    border: solid 2px black;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 12px;
    background-color: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 100px);
}

button {
    margin: 0.5em;
    border-radius: 25%;
    height: 40px;
    width: 40px;
    outline: none;
    background: #7c7c7c2b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}

input.search-bar:hover {
    background: #7c7c7c6b;
}

h1.temp {
    margin: 0;
}